<!DOCTYPE html>
<html>
    <head>
        <title>My first webpage</title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
    </head>

    <body>
        <div class="container">
        <h2 >About me</h2>
        <P> Software Engineer, developing and maintaining software applications. Proficient in 
            Python, and Html. Skilled in developing scalable and maintainable code. Experienced in working with cross-functional teams 
            to deliver high-quality software products. Successfully delivered several projects. Passionate 
            about learning new technologies and staying up-to-date with industry trends.</P>
            <h2 >Contact details</h2>
                <p>Cell no.066 061 3533 | yusrahkhan04@gmail.com</p>

            <h2  >Skills</h2>
                <p>Proficiency in Python</p>
                <p>Ability to identify problems and develop effective solutions.</p>
                <p>Knowledge of database management systems such as MySQL, SQLite</p>
                <p>Experience in developing web applications using HTML, CSS.</p>
                <p>Strong communication skills to collaborate with team members and stakeholders.</p>
                <p>Experience in developing software applications, including design, coding, testing, and debugging.</p>

                <h2 >Education</h2>
                    <p>Qualification: software Engineer
                    Institution: Hyperiondev</p>
                    <p>Qualification: Grade 12 (matric) 
                    Institution: Livingstone High School </p>
                <h2 >Experience</h2>
                    <p>Experience in developing web applications using HTML, CSS.</p>
                    <p>Experience in developing software applications, including design, coding, testing, and debugging.</p>
                </div>
    </body>
</html>