<!DOCTYPE html>
<html>
    <head>
        Here are some projects 
    </head>
    <body>
    <h2>Projects</h2>
                    <a target="_blank" href="C:\Users\yusra\OneDrive\Documents\tasks level2\My first webpage\calc_app"> Calculator /</a>
                    <a target="_blank" href="C:\Users\yusra\OneDrive\Documents\tasks level2\My first webpage\capstone task2"> Task manager /</a>
                    <a target="_blank" href="C:\Users\yusra\OneDrive\Documents\tasks level2\My first webpage\student register"> Student register</a>
        
    </body>
</html>