{% if latest_question_list %}
<div class="container">
    <ul class="list-group">
    {% for question in latest_question_list %}
    <li class="item">
    <a href="{% url 'polls:detail' question.id %}">
        {{ question.question_text }}
    </a>
    </li>
    {% endfor %}
    </ul>
</div>
{% else %}
<div class="container">
    <p>No polls are available.</p>
</div>
{% endif %}

<!-- Include Bootstrap CSS from a CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Include your custom CSS -->
<style>
.item {
    background-color: aliceblue;
    border: 1px solid #789eb0;
    margin: 5px;
    padding: 10px;
}

.item a {
    text-decoration: none;
}
</style>